* {
	padding: 0;
	margin: 0;
}
/* .control{
  background-color: rgb(116, 116, 116);  
} */
/* .container{ */
  /* background-color: aqua;   */
  /* width:; */
  /* justify-content:; */
/* } */
.store-name {
  color: #ff9900;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  /* padding-top: 17px; */
  margin-top: 17px;
}

.card{
  float: left;
	padding: 17px;
	text-align: center;
	box-shadow: 0 0 2px 2px rgba(112, 112, 112, 0.281);
	margin: 10px;
	border-radius: 20px;
  /* justify-content: center; */
}
.card-img-top{
  width: 240px;
	height: 240px;
  object-fit: contain;
}

.card-title{
  height: 27px;
  overflow: hidden;
}
.card-text{
  height: 50px;
  overflow: hidden;
}
.card-price{
  font-size: larger;
}
.btn{
  
}